.THIS .row {
  display:flex;
}
.THIS .container {
  min-width: 150px;
  background-color: #E9F4FA;
  padding:5px;
  margin: 5px;
}
.THIS .image{
  float:left;
  min-width: 120px;
  max-width: 180px;
  margin-right: 5px;
  padding-right: 5px;
}

@media (max-width: 767px) {
  .THIS .image {
    float: none;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .THIS .container {
    margin-left: auto;
    margin-right: auto;
  }
}