.THIS .hide {
    display: none;
}

.THIS .high-alert {
	background-color: #ff6666;
	padding: 20px;
}

.THIS .medium-alert {
	background-color: #ffbf80;
	padding: 20px;
}

.THIS .low-alert {
	background-color: #80dfff;
	padding: 20px;
}