.THIS .rp-field {
  padding: 10px;
}
.THIS .rp-multipick {
  height: 100px;
}

.THIS .slds-button--brand {
  background-color: #54BF9F;
  border: 0;
}

.THIS sup{
  color: red;
}
.THIS.slds-spinner_container {
  z-index: 100000;
  position: fixed;
}
.THIS .displayAdditionalQs {
 display:block !important;
}
.THIS .hideAdditionalQs {
  display:none !important;
}
.THIS #help {
  display:none;
}
.THIS .contactHide {
  display: none;
}
.THIS .contactShow {
  display: block;
}


/*.THIS .displaySArea {
  display:block;
}
.THIS .displayService {
  display:block;
}
.THIS .displayReq {
  display:block;
}
.THIS .hideSArea {
  display:none;
}
.THIS .hideService {
  display:none;
}
.THIS .hideReq {
  display:none;
}*/