.THIS .rp-box {
	padding: 20px;
	margin: 10px;
}
.THIS .rp-title {
	padding: 5px 0;
}

.THIS .rp-body {
	padding: 5px 0;
}

.THIS .rp-upvote svg  {
	fill: #16B389;
}

.THIS .rp-downvote svg  {
	fill: #F68D2C;
}
.THIS.slds-spinner_container {
  z-index: 100000;
  position: fixed;
}