.THIS .rp-search {
	padding: 10px;
}

.THIS .rp-panel {
	border-bottom: solid 1px #ccc;

}

.THIS .rp-search-input {
	height: 40px;
	margin-right: -100px;
}

.THIS .rp-search-button {
	width: 100px;
	height: 40px;
	margin-top: -5px;
}

.THIS .slds-button--brand {
	background-color: #54BF9F;
	border: 0;
}

