.THIS .row:after { clear: both; }

.THIS .row:before, .THIS .row:after, .THIS .col {
  content: " ";
  display: table; }

@media (min-width: 768px) {
  .THIS .col {
    float: left;
}

  /*.THIS .alignImgRight { text-align: right; } */
}
.THIS .image {
  width: 225px;
  height: 225px;
}

.THIS .imageText {
  color: white;
  text-shadow: 1px 1px black;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Open Sans', 'Calibri';
  left: 35%;
  position: absolute;
  text-align: center;
}

.THIS div {
  width: 225px ;
  height: 225px ;
  max-width: 225px;
  margin: 10px;
  position: relative;
}

@media (max-width: 767px) {
  .THIS div{
    margin-left: auto;
    margin-right: auto;
  }
}
/*.THIS .box1 {
  background:#4F8E9E;
}
.THIS .box2 {
  background:#858A95;
}
.THIS .box3 {
  background:#16A9D5;
}*/

.THIS .button {
  width: 225px;
  height: 50px;
  max-width: 225px;
  color: white;
  margin: 10px;
  font-family: 'Open Sans', 'Calibri';
  padding-top: 10px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}
.THIS .one {
  background:#656058;
}
.THIS .two {
  background:#7B96AC;
}
.THIS .three {
  background:#5D6572;
}