.THIS .rp-box {
	padding: 20px;
	margin: 10px;
}
.THIS .rp-title {
	padding: 5px 0;
}

.THIS .rp-body {
	padding: 5px 0;
}

.THIS .rp-search {
	padding: 10px;
}

.THIS .slds-button--brand {
	background-color: #54BF9F;
	border: 0;
}


.THIS .rp-search-input {
	height: 40px;
	margin-right: -100px;
}

.THIS .rp-search-button {
	width: 100px;
	height: 40px;
	margin-top: -5px;
}

.THIS .rp-filter {
	padding: 10px;
	font-size: 12px;
}

.THIS .rp-filter-item {
	padding-left: 10px;
}

.THIS .rp-page-item {
	padding-right: 10px;
}

.THIS .rp-upvote svg  {
	fill: #16B389;
}

.THIS .rp-downvote svg  {
	fill: #F68D2C;
}