.THIS .rp-title {
	width: 290px;
	height: 80px;
	padding: 10px;
	color: #ffffff;
	vertical-align: bottom;
}

.THIS .rp-body {
	padding: 5px 0;
}

.THIS .rp-search {
	padding: 10px;
}

.THIS .rp-panel {
	border-bottom: solid 1px #ccc;

}

.THIS .rp-search-input {
	height: 40px;
	margin-right: -100px;
}

.THIS .rp-search-button {
	width: 100px;
	height: 40px;
	margin-top: -5px;
}

.THIS .slds-button--brand {
	background-color: #54BF9F;
	border: 0;
}

.THIS .rp-flex {
	display: -webkit-flex;
	display: flex;
	margin: 5px;
	width: 320px;
	min-height: 160px;
	background-color: #fafafa;
}
.THIS .rp-box {
	min-width: 150px;
	max-width: 300px;
	padding: 10px;
	margin: 5px;
}
.THIS .image{
  float:left;
  min-width: 120px;
  max-width: 180px;
  margin-right: 5px;
  padding-right: 5px;
}