.THIS .rp-button {
	width: 100%;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	background-color: #54BF9F;
	border: 0;
}

.THIS .slds-modal__header {
	background-color: #54BF9F;
	color: #ffffff;
}

/*.THIS.slds-spinner_container {
  z-index: 100000;
  position: fixed;
}*/