.THIS .wrapper {
  float: left;
}
.THIS .uiInputSelect {
  width: 250px;
  height: auto;
}
.THIS .filter {
  float: right;
}
.THIS .card {
  margin: 7px;
  display: inline-block;;
  width: 100%;
  height: 440px;
  max-width: 265px;
  text-align: left;
  overflow: hidden;
  position: relative;
  vertical-align: inherit;
}
.THIS.slds-spinner_container {
  z-index: 100000;
  position: fixed;
}

/* ==== Content Inside Card ==== */

.THIS .title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3em;
}
.THIS .image {
  width: 233px;
  height: 150px;
}
.THIS img {
  max-width: 233px;
  max-height: 150px;
}
.THIS .summary {
  color: #333;
  font-size: 12px;
}
.THIS .contentType {
  font-variant: small-caps;
  font-weight: bold;
}