.THIS .rp-survey-box {
	margin: 10px;
	height: 100px;
	text-align: center;
}

.THIS .rp-highlight {
	border: solid 2px #ccc;
}

.THIS .rp-selected {
	font-size: larger;
	border: solid 3px #999;
}

.THIS .rp-insider {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
}

.THIS .rp-high {
	background-color: #54BF9F;
}

.THIS .rp-medium {
	background-color: #FFB672;
}

.THIS .rp-low {
	background-color: #ED6F67;
}

/*
.THIS .rp-box:after {
	content: '';
	display: block;
	padding-bottom: 100%;
	vertical-align: middle;
}
*/